.running-line {
    position: relative;
    min-width: 224px;
    min-height: 1100px;
    overflow: hidden;
    transform: translateY(-322px);
}

.main-column__second {
    height: 1315px;
}

.running-line__wrapper {
    position: absolute;
    top: -150px;
    left: 0;
    right: 0;
    animation: 80s linear infinite run;
}

.running-line_reverse .running-line__wrapper {
    animation: 80s linear infinite run-reverse;
    top: 400px;
}

.running-line-card {
    margin-bottom: 15px;
    position: relative;
}

.running-line-card__image {
    width: 100%;
}

.main {
    padding: 25px 0px 218px 0px;
    display: flex;
    gap: 25px;
    flex-direction: column;
}

.main-column__first {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 0 0 670px;
}

.main-column__second {
   display: flex;
   gap: 25px;
   transform: rotate(28.5deg);
}

.main_for-photo{
    position: relative;
    z-index: 5;
}

.iphone_slider {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}

.main-cards, .main-cards__inner {
    display: flex;
}

.icon-apple, .icon-android {
    display: block;
    width: 34px;
    height: 41px;
}

.main-cards__text {
    padding-left: 23px;
}

.main-cards__text p {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.main-cards {
    gap: 28px;
}

.main-cards__inner {
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    width: 210px;
    height: 64px;
    justify-content: flex-start;
    align-items: center;
    padding-left: 24px;
}

.main-column__first::before {
    content: '';
    width: 100%;
    height: 40%;
    position: absolute;
    background: #4264FB;
    filter: blur(173px); 
    top: 0;
    left: -100px;
}

.main-column__first-inner {
    z-index: 1;
    position: relative;
    padding: 165px 0;
}

.main-font {
    padding-bottom: 40px;
}

.main-discription {
    padding-bottom: 40px;
}

.adaptive-logo, .adaptive-text, .adaptive-text_second {
    display: none;
}

.main-first_section {
    display: flex;
}

@media screen and (max-width: 1430px) {
    .hero__info {
        flex: 1 1 600px;
    }
}

@media screen and (max-width: 1024px) { 
    .main-column__second {
        height: auto;
    }

    .main-second_section {
        position: relative;
    }

    .main-second_section::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 122px;
        background: linear-gradient(180deg, rgba(21, 22, 24, 0) 0%, #151618 100%);
        top: -120px;
        left: 0;
    }

    .main-column__second {
        gap: 15px;
    }

    .running-line {
        min-width: 156px;
    }
    .main-cards__inner {
        width: 153px;
        height: 42px;
        padding: 3px 0px 3px 15px
    }

    .icon-apple, .icon-android {
        width: 23px;
        height: 27px;
    }

    .main-cards__text {
        padding-left: 15px;
    }

    .main-cards__text p {
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
    }

    .main {
        padding: 0px 0px;
    }

    .main-column__first {
        flex: 0 0 391px;
    }

    .adaptive-logo, .adaptive-text, .adaptive-text_second {
        display: block;
    }

    .main-font, .main-discription {
        display: none;
    }
  
    .main-cards {
        padding-top: 32px;
        gap: 11px;
    }

    .adaptive-logo {
        padding-bottom: 20px;
    }

    .main-first_section {
        padding: 0 15px;
    } 
    
}

@media screen and (max-width: 768px) {
    .main-column__second {
        position: relative;
        left: 78px;
    }

    .main-first_section {
        height: 585px;
        padding: 0 15px;
    }

    .main-column__first::before {
        top: 101px;
        left: -62px;
    }
}

@media screen and (max-width: 425px) {
    .main-column__second {
        display: none;
    }

    .adaptive-logo {
        width: 343px;
        height: 77.32px;
    }

    .main-column__first-inner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 161px 0px 100px 0px;
    }
    
    .main-column__first::before {
        filter: blur(100px);
        top: 69px;
        left: -144px;
    }
    
    .main-first_section {
        height: 481px;
        justify-content: center;
    }

    .main-column__first {
        align-items: center;
        flex: none;
    }
}

@media screen and (max-width: 320px) {
    .adaptive-logo {
        width: 288px;
        height: 64.92px;
    }

    .main-column__first-inner {
        align-items: center;
    }

    .adaptive-text, .adaptive-text_second{
        font-size: 16px;
        line-height: 20px;
    }

    .main-cards__inner {
        width: 127px;
    }
}

@keyframes run {
    from {
      transform: translateY(0);
    }
  
    to {
        transform: translateY(-75%);
    }
}

@keyframes run-reverse {
    from {
      transform: translateY(-75%);
    }
  
    to {
        transform: translateY(0);
    }
}