.header {
    z-index: 99;
    position: absolute;
    padding: 36px 60px 0px 60px;
}

.icon {
    display: block;
    width: 108px;
    height: 25px;
}

@media screen and (max-width: 1024px) {
    .header { 
        padding: 36px 15px 0px 15px;
    }
}