.three-video_section {
    padding-bottom: 250px;
}

.three-video_title h2 {
    font-weight: 300;
    font-size: 48px;
    line-height: 67.39px;
    padding: 50px 70px 50px 70px;
}

.three-video_content {
    display: flex;
    padding: 0 70px;
    justify-content: space-between;
}