.three-video_section {
    padding-bottom: 250px;
}

.three-video_title h2 {
    font-weight: 300;
    font-size: 48px;
    line-height: 67.39px;
    padding: 50px 70px 50px 70px;
}

.three-video_content {
    display: flex;
    padding: 0 70px;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    .three-video_content {
        padding: 0;
    }

    .three-video_title h2 {
        padding: 40px 0px 40px 0px;
    }
}

@media screen and  (max-width: 768px) {
    .three-video_content {
        gap: 33px;
        overflow-x: scroll;
    }
}

@media screen and  (max-width: 425px) {
    .three-video_title h2 {
        padding: 0px 0px 40px 0px;
        font-size: 32px;
        line-height: 44.93px;
    }

    .three-video_content {
        overflow-x: unset;
        flex-direction: column;
        gap: 40px;
    }

    .three-video_first img, .three-video_second img, .three-video_third img {
        width: 100%;
    }

    .three-video_section {
        padding-bottom: 80px;
    }
}