.why-us_section {
    padding: 283px 0px;
}

.why-us h2{
    font-weight: 300;
    line-height: 89.86px;
    padding: 0 70px;
    position: relative;
    z-index: 2;
}

.icon-text_list li {
    font-size: 20px;
    font-weight: 300;
    line-height: 24.38px;
    padding-bottom: 20px;
}

.icon-text_list {
    list-style-image: url(../../../img/sprites/icon-text.svg);
}

.icon-text_section {
    padding-top: 40px;
    display: flex;
    position: relative;
    z-index: 2;
}

.icon-text_column, .icon-text_column1 {
    padding-left: 70px;
}

.image-phn {
    position: relative;
    display: flex;
    padding-top: 100px;
    justify-content: center;
}

.image-phn_column img, .image-phn_column1 img {
    transform: rotate(-30deg);
}

.image-phn_column {
    position: relative;
    z-index: 1;
}

.image-phn:before {
    position: absolute;
    content: '';
    top: 89px;
    left: 208px;
    width: 848px;
    height: 544px;
    background: #4264FB;
    filter: blur(350px);
}

@media screen and (max-width: 1024px) {
    .why-us h2 {
        padding: 0 20px;
    }

    .icon-text_column, .icon-text_column1 {
        padding: 0 20px;
    }
    .icon-text_list {
        padding: 0 25px;
    }
    .icon-text_list li {
        padding-left: 5px;
        padding-bottom: 25px;
    }
    
    .why-us.container_imagane {
        padding-bottom: 40px;
    }

    .image-phn.container_imagane {
        padding-top: 80px;
    }

    .image-phn:before {
        width: 515px;
        height: 454px;
    }
}

@media screen and (max-width: 768px) {
    .why-us_section {
        padding: 220px 0px 150px 0px;
    }

    .why-us h2 {
        font-size: 48px;
        line-height: 67.39px;
        padding: 0;
    }

    .icon-text_column, .icon-text_column1 {
        padding: 0px;
    }

    .icon-text_list li br{
        display: none;
    }

    .image-phn_column img, .image-phn_column1 img {
        width: 262.88px;
        height: 534.25px;
    }

    .image-phn:before {
        width: 380px;
        height: 380px;
        top: 32px;
    }

    .social-insocium_title h2, .social-insocium_cards {
        padding: 0;
    }

    .social-insocium_card {
        padding: 0px 30px 30px 0px;
    }

    .social-insocium_content p br {
        display: none;
    }
}

@media screen and (max-width: 425px) {
    .why-us_section {
        padding: 80px 0;
    }

    .why-us h2 {
        font-size: 32px;
        line-height: 44.93px;
    }

    .why-us.container_imagane {
        padding-bottom: 25px;
    }

    .icon-text_section {
        flex-direction: column;
    }

    .icon-text_list li {
        font-size: 16px;
        line-height: 22.4px;
        padding-bottom: 20px;
    }

    .image-phn_column img, .image-phn_column1 img {
        width: 127.54px;
        height: 259.2px;
    }

    .image-phn.container_imagane {
        padding-top: 30px;
    }

    .image-phn:before {
        filter: blur(50px);
        width: 285px;
        height: 285px;
        top: -7px;
        left: 56px;
    }
}