.icon-number {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    color: white;
    padding-top: 15px;
}

.imagane-title h2{
    padding: 0px 70px 0px 70px;
    font-weight: 300;
}

.imagane_section {
    padding-top: 250px;
}

.first_bubble-container {
    display: flex;
}

.imagane-map_container {
    padding-top: 109px;
}

.column-bubble {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.column-bubble-second {
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

.first-bubble {
    width: fit-content;
    font-weight: 500;
    font-size: 32px;
    z-index: 2;
    position: relative;
}

.second-bubble {
    width: fit-content;
    font-weight: 500;
    font-size: 32px;
    z-index: 2;
    position: relative;
}

svg.buble-first {
    height: 400px;
    width: 630px;
    position: absolute;
    top: -129px;
    left: -100px;
}

.column-bubble-box {
    padding: 25px 40px 67px 40px;
    position: relative;
}

.imagane-map_container {
    padding: 100px 0px 200px 0px;
    background-image: url("/img/sprites/background-bubble.svg");
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-position: center;
    background-size: 969px 1014px;
}

.four-card-section {
    display: flex;
    gap: 15px;
    padding-top: 300px;
}

.info-card {
    padding: 23px 20px 15px 20px;
    background: rgba(255, 255, 255, 0.06);
    box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: 1px solid #273776;
    min-width: 263px;
}

.info-card h3{
    margin: 0;
    padding-top: 15px;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
}

.icon-text {
    display: flex;
}

.icon-text a{
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    padding-left: 20px;
}

.buble-first.adaptbuble {
    display: none;
}

@media screen and (max-width:1024px) {
    .imagane_section {
        padding-top: 140px;
    }
    
    .imagane-title h2 {
        padding: 0;
    }

    .container_imagane {
        padding: 0 20px;
    }

    .four-card-section {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding-top: 192px;
    }

    .icon-text br {
        display: none;
    }

    .icon-apple.imAG, .icon-android.imAG {
        width: 35px;
        height: 35px;
    }

    .icon-text {
        align-items: center;
    }

    .icon-number {
        padding-top: 0;
    }

    .info-card h3 {
        padding-top: 10px;
    }

    .info-card {
        background: rgb(226 226 226 / 16%);
    }

    .imagane-map_container {
        background-size: 955px 1000px;
    }
}

@media screen and (max-width: 768px){
    .imagane_section {
        padding-top: 90px;
    }
    
    .imagane-title h2 {
        font-size: 36px;
        line-height: 50.54px;
    }

    .buble-first {
        display: none;
    }

    .buble-first.adaptbuble {
        display: block;
    }

    svg.buble-first.adaptbuble {
        height: 358px;
        width: 439px;
        position: absolute;
        top: 0;
        left: 0;
    }

    .first-bubble {
        font-size: 32px;
        line-height: 42.85px;
    }

    .second-bubble.bbbl {
        position: relative;
    }

    .first-bubble.bbbbl {
        position: relative;
        padding-left: 50px;
    }

    .imagane-map_container {
        background-image: url("/img/sprites/768-adapt.svg");
    }

    .second-bubble.bbbl::before {
        background-image: url("/img/sprites/bbl-left.svg");
        background-repeat-x: no-repeat;
        background-repeat-y: no-repeat;
        background-position: center;
        background-size: contain;
        position: absolute;
        content: '';
        height: 358px;
        width: 439px;
        bottom: -135px;
        left: -85px;
        z-index: -1;
    }

    .first-bubble.bbbbl::before {
        background-image: url("/img/sprites/bbl-right.svg");
        background-repeat-x: no-repeat;
        background-repeat-y: no-repeat;
        background-position: center;
        background-size: contain;
        position: absolute;
        content: '';
        height: 358px;
        width: 439px;
        bottom: -135px;
        left: -85px;
        z-index: -1;
    }

    .four-card-section {
        padding-top: 150px;
    }

    .imagane.container_imagane {
        padding: 100px 0;
    }
    
    .imagane-title, .imagane-map_container {
        padding: 30px 20px;
    }

    .four-card-section {
        gap: 20px;
    }
}

@media screen and (max-width: 425px) {
    .imagane_section {
        padding: 0;
    }

    .imagane.container_imagane {
        padding: 80px 0;
    }

    .imagane-title h2 {
        font-size: 32px;
    }

    .first_bubble-container {
        padding-bottom: 50px;
    }

    .four-card-section {
        padding-top: 65px;
        display: flex;
        flex-direction: column;
    }
    
}