.video_section {
    padding: 280px 0px 245px 0px;
    background-color: #151618;
    z-index: 2;
    position: relative;
}

.video_title {
    padding-bottom: 50px;
    font-weight: 300;
    font-size: 48px;
    line-height: 140.4%;
}