.video_section {
    padding: px 0px 245px 0px;
    background-color: #151618;
    z-index: 2;
    position: relative;
}

.video_title {
    padding-bottom: 50px;
    font-weight: 300;
    font-size: 48px;
    line-height: 140.4%;
}

@media screen and (max-width: 1024px){
    .video.container {
        padding: 0 20px;
    }

    .video iframe {
        height: 642.44px;
    }
}

@media screen and (max-width: 768px) {
    .video_title {
        font-size: 36px;
        line-height: 50.54px;
        padding-bottom: 40px;
    }

    .video iframe {
        height: 478.56px;
    }
}