.appletext_string {
    font-size: 64px;
    line-height: 89.86px;
    padding: 0px 70px;
}

.element-animation {   
    opacity: .25;
    transition-property: opacity;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0.25,1,0.5,1);
  }
  
  .element-animation.element-show {
    opacity: 1;
    font-weight: 300;
    transition: all .8s;
  }

  .second {
    transition-delay: 0s;
  }

  @media screen and (max-width: 1024px){
    .appletext_string {
      padding: 0 20px;
    }
  }

  @media screen and (max-width: 768px) {
    .appletext_string {
      font-size: 48px;
      line-height: 67.39px;
    }
  }

  @media screen and (max-width: 425px) {
    .appletext_string {
      padding: 7px 0;
      font-size: 32px;
      line-height: 39.01px;
    }
  }