.appletext_string {
    font-size: 64px;
    line-height: 89.86px;
    padding: 0px 70px;
}

.element-animation {   
    /* Скроем элемент в начальном состоянии */
    opacity: .25;
    transform: translateY(20px);
    transition-property: opacity;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0.25,1,0.5,1);
  }
  
  .element-animation.element-show {
    opacity: 1;
    font-weight: 700;
    transition: all 1.5s;
    transform: translateY(0%);
  }

  .second {
    transition-delay: 1s;
  }