.social-insocium_title h2 {
    padding: 0 70px;
    font-weight: 300;
    line-height: 83.2px;
}

.social-insocium_content h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 24.38px;
    margin: 0;
}

.social-insocium_content {
    padding-top: 5px;
}

.social-insocium_title {
    padding-bottom: 50px;
}

.social-insocium_content p {
    line-height: 24.38px;
    font-weight: 300;
}

.social-insocium_card {
    padding-bottom: 30px;
}

.social-insocium_cards {
    padding: 0 70px;
}

.social-insocium_cards img{
    display: flex;
    padding-right: 16px;
}

.social-insocium_card, .social-insocium_cards {
    display: flex;
}

.social-insocium_img img {
    width: 32px;
}

.social-insocium_column, .social-insocium_column1 {
    width: 50%;
    position: relative;
    z-index: 57;
}

.social-insocium_column1::before {
    position: absolute;
    content: "";
    top: 187px;
    left: -80px;
    width: 908px;
    height: 583px;
    background: #4264FB;
    filter: blur(350px);
    z-index: -1;
}

.social-insocium_section {
    padding: 0px 0px 310px 0px;
}

.social-insocium_label {
    padding: 11px 0px 17px 0px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 78;
    margin: 80px 70px 0px 70px;
}

.social-insocium_label::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #E9EDFC;
    filter: blur(11.5px);
    border-radius: 28px;
    z-index: -1;
}

.social-insocium_button {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}


.social-insocium_label p{
    color: #354DB8;
    font-weight: 300;
    font-size: 32px;
    line-height: 39.01px;
    padding-left: 20px;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #6ebeff;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-left: 4px solid #337AB7;
    border-bottom: 4px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 

@media screen and (max-width: 1024px) {
    .social-insocium_title h2 {
        padding: 0 20px;
        font-size: 48px;
        line-height: 62px;
    }
    
    .social-insocium_cards {
        padding: 0 20px;
    }

    .social-insocium_card.sec {
        display: flex;
    }

    .social-insocium_content p {
        font-size: 18px;
    }
    .social-insocium_label {
        margin: 50px 20px 0px 20px;
    }

    .social-insocium_section {
        padding: 0px 0px 180px 0px;
    }
}

@media screen and (max-width: 425px) {
    .social-insocium_title h2 {
        font-size: 32px;
        line-height: 41.6px;
    }

    .social-insocium_title {
        padding-bottom: 30px;
    }

    .social-insocium_cards {
        flex-direction: column;
    }

    .social-insocium_column, .social-insocium_column1 {
        width: 100%;
    }

    .social-insocium_column1::before {
        top: 64px;
        left: 72px;
        width: 308px;
        height: 383px;
        filter: blur(243px);
    }

    .social-insocium_label p {
        font-size: 16px;
        line-height: 22.4px;
    }
    
    .loader {
        width: 25px;
        height: 25px;
        border-top: 2px solid #6ebeff;
        border-right: 0px solid transparent;
    }

    .loader::after {
        width: 25px;
        height: 25px;
        border-left: 2px solid #337AB7;
        border-bottom: 0px solid transparent;
    }

    .social-insocium_content h3, .social-insocium_content p {
        font-size: 16px;
        line-height: 19.5px;
    }

    .social-insocium_card {
        padding: 0px 30px 20px 0px;
    }

    .social-insocium_label {
        margin: 50px 0px 0px 0px;
    }

    .social-insocium_section {
        padding: 0px 0px 93px 0px;
    }
}

@media screen and (max-width: 320px) {
    .social-insocium_title h2 {
        font-size: 25px;
        line-height: 35.6px;
    }
}