.beta_section {
    background-color: #151618;
    z-index: 7;
    position: relative;
    margin-top: -550px;
}

.beta_swiper-pagination {
    padding: 120px 0px 150px 0px;
    display: flex;
    justify-content: center;
}

.swiper-pagination-bullet {
    background: #2A2C30!important;
}

.swiper-pagination-bullet-active {
    background: #007aff!important;
}

span.swiper-pagination-bullet, span.swiper-pagination-bullet-active {
    width: 15px;
    height: 15px;
}

.beta {
    padding-top: 92px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

.beta::before {
    content: '';
    position: absolute;
    background: #1D62EF;
    filter: blur(100px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.beta-column__first {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.beta-font {
    background: #C84646;
    border-radius: 21px;
    width: fit-content;
    padding: 5px 25px 5px 25px;
    font-weight: 300;
    font-size: 64px;
}

.beta-discription {
    padding-top: 50px;
}

.beta-discription_second {
    padding-top: 30px;
}

.beta-button {
    margin-top: 50px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    padding: 18px 61px 18px 61px;
    background: #FFFFFF;
    border-radius: 44px;
    border: none;
}

.beta_column-secondd, .beta_column-threee {
    display: none;
}

@media screen and (max-width: 1430px) {
    .beta_section { 
        margin-top: -545px;
    }
}

@media screen and (max-width: 1024px) {
    .beta_section { 
        margin-top: -515px;
    }
    
    .beta-font {
        font-size: 48px;
        line-height: 64.27px;
        padding: 10px 25px 15px 25px;
    }

    .beta-discription {
        line-height: 24.38px;
        padding-top: 40px;
    }

    .beta {
        padding-top: 57px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .beta-column__first {
        width: 50%;
    }

    .beta-column__first img {
        width: 100%;
    }

    .beta_swiper-pagination {
        padding: 30px 0px 140px 0px;
    }
}

@media screen and (max-width: 768px){
    .beta_column-secondd, .beta_column-threee {
        display: block;
    }

    .beta_section { 
        margin-top: 0px;
    }

    .beta-font {
        font-size: 31px;
        line-height: 42.85px;
        padding: 2px 22px 7px 22px;
    }

    .beta-column__first.adaptivev {
        justify-content: flex-end;
        display: none;
    }

    .beta-discription {
        font-size: 18px;
        padding-top: 20px;
    }

    .beta-discription_second {
        padding-top: 20px;
    }

    .beta_column-secondd img, .beta_column-threee img{
        width: 241px;
        height: 489px;
    }

    .beta-button {
        margin-top: 30px;
    }

    .beta_column-secondd {
        display: flex;
        align-items: flex-end;
        position: relative;
        left: 21px;
        top: 42px;    
        z-index: 1;
        width: 25%;
    }

    .beta_column-threee {
        display: flex;
        align-items: flex-start;
    }

    .beta-column__first {
        width: 65%;
    }

    .beta {
        padding: 50px 15px 50px 15px;
    }    

    .beta-discription_second {
        font-size: 18px;
    }

    .beta::before {
        top: 215px;
        left: 282px;
        width: 200px;
        height: 200px;
    }

    .beta_swiper-pagination {
        padding: 30px 0px 90px 0px;
    }
}

@media screen and (max-width: 425px) {
    .beta {
        flex-direction: column;
        padding: 50px 30px 0px 31px;
    }

    .beta-column__first {
        width: 100%;
    }

    .beta_column-secondd, .beta_column-threee {
        display: none;
    }

    .beta-column__first.adaptivev {
        display: flex;
        padding-top: 40px;
    }

    .beta::before {
        top: 573px;
        left: 120px;
        filter: blur(94px);
    }
}
