.make-friends {
    display: flex;
    justify-content: space-around;
}

.make-friends_column h2 {
    font-size: 48px;
    line-height: 58.51px;
}

.make-friends_column p {
    padding-top: 30px;
}

.make-friends_column button {
    margin-top: 40px;
}

.make-friends_column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    .make-friends {
        justify-content: space-between;
    }
}

@media screen and (max-width: 768px) {
    .make-friends_column2 img {
        width: 222px;
        height: 451.17px;
    }

    .make-friends_column p {
        font-size: 16px;
        line-height: 19.5px;
        padding-top: 23px;
    }
}

@media screen and (max-width: 425px) {
    .make-friends_column h2 {
        font-size: 32px;
        line-height: 39.01px;
        padding-right: 95px;
    }

    .make-friends_column p {
        padding-right: 95px;
    }

    .make-friends_column {
        align-items: stretch;
    }

    .make-friends {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .make-friends_column2 {
        padding-top: 50px;
        position: relative;
    }

    .make-friends_column2 img {
        position: relative;
        z-index: 1;
    }

    .make-friends_column2::before {
        position: absolute;
        content: "";
        top: 153px;
        left: 11px;
        width: 200px;
        height: 200px;
        border-radius: 100%;
        background: #4264FB;
        filter: blur(90px);
        z-index: 0;
    }
}

@media screen and (max-width: 375px) {
    .make-friends_column h2 {
        font-size: 26px;
        line-height: 35.01px;
        padding-right: 25px;
    }   
}

@media screen and (max-width: 320px) {
    .make-friends_column h2 {
        padding-left: 00px;
    }
}